<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans.xsd
							http://www.springframework.org/schema/mvc
							http://www.springframework.org/schema/mvc/spring-mvc.xsd
							http://code.alibabatech.com/schema/dubbo
							http://code.alibabatech.com/schema/dubbo/dubbo.xsd
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 开启spring注解使用 -->
    <context:annotation-config></context:annotation-config>
    <!-- 注册自定义Job -->
    <!--<bean id="clearImgJob" class="com.wxiang.jobs.ClearImgJob"></bean>-->
    <bean id="jobDemo" class="com.wxiang.jobs.JobDemo"></bean>
    <!-- 注册JobDetail，作用是负责通过反射调用指定的Job -->
    <bean id="jobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 注入目标对象 -->
        <property name="targetObject" ref="jobDemo"/>
        <!-- 注入目标方法 -->
        <property name="targetMethod" value="run"/>
    </bean>
    <!-- 注册一个触发器，指定任务触发的时间 -->
    <bean id="myTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <!-- 注入JobDetail -->
        <property name="jobDetail" ref="jobDetail"/>
        <!-- 指定触发的时间，基于Cron表达式 -->
        <property name="cronExpression">
            <!--   可以使用的符号：, - / * 如：0 0 2,3  ? 1-3 1    表示1至3月的每月的星期1的2点和3点执行一次
            <value>0 0 2 * * ?</value>    秒 分 时   日 月 周 年(可省略)  ?表示不指定，只能用在日或者周几上，在这两个位置上不能同时使用，
            周的范围是1-7表示星期天到星期六，且符号#只能用在周上面，如 7#3 表示某月的第3个星期六
            L只能用在日和周域上，分别表示某个月的最后一天，周的最后一天星期六；W只能用在日域上，表示工作日（周一到周五2-6），15W表示离某月15号最近的工作日-->
            <value>0/10 * * * * ?</value>  <!-- 0/10表示每10秒 -->
        </property>
    </bean>
    <!-- 注册一个统一的调度工厂，通过这个调度工厂调度任务 -->
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <!-- 注入多个触发器 -->
        <property name="triggers">
            <list>
                <ref bean="myTrigger"/>
            </list>
        </property>
    </bean>
</beans>